{% extends "base.html" %}

{% block content %}
    <h2>Comment Post!</h2>
    <form method="post" action="/blog/commentpost">
      <input type="hidden" name="post_id" value={{post_id}}>

      <div>Subject</div>
      <input type="text" name="subject" value="{{subject}}">

      <div>Content</div>
      <textarea name="content" rows="4" cols="50">{{content}}</textarea>

      <input type="submit" name="">
    </form>
    {{error}}
    <hr>
    <h1>Main Comment:</h1>
    <h1 name ="subject" class ="subject">Subject: {{ parent_post.subject }}</h1>
    <h3 name ="content" class ="content">Content: {{ parent_post.content | safe }}
    </h3>
    <hr>
    {% for i in posts %}
      <h2 name ="subject" class ="subject">{{ i.subject }}</h2>
      <div name ="content" class ="content">{{ i.content | safe }}
      <div name ="created" class ="created">{{ i.created}}
      <div name ="likes">Likes: {{ i.likes}}</div>

      <form action="/blog/delete" method=post>
        <input type=hidden value="{{ i.key().id() }}" name="post_id"></input>
        <input type=hidden value="{{post_id}}" name="post_parent_id"></input>
        <input type="submit" value="Delete"></input>
      </form>

      <form action="/blog/editpost" method=post>
        <input type=hidden value="{{ i.key().id() }}" name="post_id"></input>
        <input type=hidden value="{{post_id}}" name="post_parent_id"></input>
        <input type="submit" value="Edit"></input>
      </form>

      <form action="/blog/likepost" method=post>
        <input type=hidden value="{{ i.key().id() }}" name="post_id"></input>
        <input type=hidden value="{{post_id}}" name="post_parent_id"></input>
        <input type="submit" value="Like"></input>
      </form>

      <form action="/blog/unlikepost" method=post>
        <input type=hidden value="{{ i.key().id() }}" name="post_id"></input>
        <input type=hidden value="{{post_id}}" name="post_parent_id"></input>
        <input type="submit" value="UnLike"></input>
      </form>

      <hr>
    {% endfor %}
{% endblock %}

